*{
    margin: 0;
}

header{
    line-height: 25px; /*Separacion entre renglones*/
    background-color: #063a74;
    color: #FFF;
    text-align: center;
    padding: 12px 0px 12px 0px; /*Espacio interno entre el contenido y el borde de un elemento*/
    width: 100%; /*Ocupa el 100% del ancho de la pantalla*/

}

header h2{
    color: #FFD520;
    padding-top: 15px;
}

nav{
    background-color: #3D5F85;
    color: #FFF;
    padding: 10px 0px 10px 45px;
    width: 100%;
}

section h6{
    background-color: #CBCBCB;
    color: #063a74;
    line-height: 25px;
    margin: 25px 10px 25px 10px;
    border-radius: 20px;
    padding: 10px 0 10px 50px;
    font-size: larger;

}

footer{
    background-color: #063a74;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: bold;
}

footer p1{
    background-color: #FFD520;
    color:#063a74;
    padding: 2px 30px 2px 30px;
    border-radius: 5px; 
}